@import "variables";

.aside{
  font-family: $primary-font;
  height: calc(100vh - 80px);
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $bcg-color;
  &__toggle{
    display: none;
  }
  &__list{  
    width: 14vw;
    background-color: $dred-color;
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  &__link{
    list-style-type: none;
    font-weight: 600;
    letter-spacing: 4px;
    font-size: 1.4rem;
    text-decoration: none;
    color: black;
    height: 40%;
    transition: height 0.5s ease;
    display: flex;
    align-items: center;
    transition: all ease 0.5s;
    &:hover{
      transform: scale(1.15);
    }
    &__active{
      width: 100%;
      height: 40%;
      text-align: center;
      text-decoration: none;
      list-style-type: none;
      font-weight: 600;
      letter-spacing: 4px;
      font-size: 1.4rem;
      display: flex;
      align-items: center;
      justify-content: center;  
      color: black;
      font-size: 2rem;
      color: $silver-color;
    }
  }
  &__rodo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    height: 40px;
    width: 100%;
    background-color: $white-color;
    overflow: hidden;
    height: 8%;
    bottom: 0;
    color: $silver-color;
    font-size: 0.8rem;
  }
}


@media (max-width: 992px){
  .aside{
    position: relative;
    background-color: black;
    &__list{
      height: calc(100vh - 120px);
      display: none;
    }
    &__toggle{
      display: flex;
      position: absolute;
      top: -90px;
      left: 0;
      & input {
        width: 80px;
        height: 80px;
        opacity: 0;
        z-index: 1;
      }
      & i{
        position: absolute;
        color: $light-color;
        font-size: 2.5rem;
        top: 30px;
        left: 15px;
      }
    }
    &__active{
      display: flex;
      animation: menuopen 0.5s ease 1;
      width: 40vw;
    }
  }
}
@media (max-width: 576px){
  .aside{
    &__toggle i {
      top: 32px;
    font-size: 2rem;
  }
}
}
@keyframes menuopen {
  0% {
    width: 0;
  }
  100% {
    width: 40vw;
  }
}
