@import "../styles/variables.scss";

.topbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $primary-font;
  width: 100vw;
  height: 80px;
  background-color: $bcg-color;
  &__logo{
    width: 450px;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    letter-spacing: 15px;
    & a{
      text-decoration: none;
      color: $white-color;
    }
  }
  &__contact{
    flex: 6;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    color: $lred-color;
  }
  &__lang{
    flex:1;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    color: $dred-color;
  }
}