$primary-font: 'Urbanist', sans-serif;

//colors

$bcg-color: #0b090a;
$grey-color: #161a1ddc;
$dred-color: #660709;
$lred-color: #BA181B;

//$dred-color: #07664e;
//$lred-color: #afba18;
$silver-color: #B1A7A6;
$light-color: #F5F3F4;
$white-color: #FFFFFF;
