$primary-font: 'Urbanist', sans-serif;

//colors

$bcg-color: #ffffff;
$grey-color: #161a1ddc;
$dred-color: #d8bd46;
$lred-color: #BA181B;

//$dred-color: #07664e;
//$lred-color: #afba18;
$silver-color: #ffffff;
$light-color: #F5F3F4;
$white-color: #000000;
